.chooseBackground__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}

.chooseBackground__item {
  width: calc(50% - 5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.chooseBackground__img {
  border-radius: 5%;
  width: 100%;
  height: 90px;
  transition-duration: 250ms;

  &:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }

  &--border {
    border: 2px solid #f08080;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  } 
}
