.modalBG {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  z-index: 10;
}

.modalContent {
  min-width: 500px;
  min-height: 500px;
  background-color: #fff;
  border-radius: 10px;
}
